@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

$box-shadow-dark: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
$box-shadow-light: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);

$clr-dark-bg: hsl(207, 26%, 17%); //  (Dark Mode Background)
$clr-dark-element: hsl(209, 23%, 22%); //  (Dark Mode Elements)
$clr-dark-text: hsl(200, 15%, 8%); // (Light Mode Text)

$clr-light-bg: hsl(0, 0%, 98%); // (Light Mode Background)
$clr-light-elements: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)
$clr-light-input: hsl(0, 0%, 52%); //(Light Mode Input)

$ff-nunito: "Nunito Sans", sans-serif;

@mixin breakpoint($breakpoints) {
  @if $breakpoints == sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if $breakpoints == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoints == lg {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoints == xlg {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoints == xxl {
    @media screen and (min-width: 1400px) {
      @content;
    }
  }
}
